
  body {
    margin: auto;
    text-align:center;
    width: 50%;
    border: 3px solid #87CEEB);
    background-color: #87CEEB;
  }

  .center (
    magin-left: auto;
    margin-right: auto;
  )
